/* Bootstrap basic template -
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Some custom styles */
.footer {
    margin-top: 2em;
}
h1 {
    font-size: 24px;
}
h2 {
    margin-top: 0;
}
.blue {
    color: #337ab7;
}
.jumbotron p {
    font-size: 1.2em;
    font-weight: 400;
}
#norm-more {
    display: none;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #efefef;
    padding: 10px 0 0 20px;
    margin-bottom: 10px;
}
.norm-list li{
    list-style: circle;
}
.container .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
}
.en {
    display: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
.nav-pills>li.current a{
    font-weight: 700;
}
.form-control[readonly] {
    background-color: white;
}
